body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 40px;
    color: #434141;
    border-top:10 solid #20486d ;
    background: #fff;
}

h1{
    font-size: 3em;
    margin: 0;
}

p{
    line-height: 1.4em;
}

