html{
    background: #e3e3e3;
  }
  
  body{
      font-family: Arial, Helvetica, sans-serif;
    margin: 40px;
    padding: 40px;
    border-top: 10px solid #20486d;
    background: #fff; 
  }
  
  h1{
      font-size: 3em;
      margin: 0;
  }
  
  p{
      line-height: 1.4em;
  }
  
  section{
    display: flex;
  }

  article{
    padding: 20px;
    margin: 20px;
  }