html{
    background: #e3e3e3;
  }
  
  body{
      font-family: Arial, Helvetica, sans-serif;
    margin: 40px;
    padding: 40px;
    border-top: 10px solid #20486d;
    background: #fff; 
  }
  
  h1{
      font-size: 3em;
      margin: 0;
      text-align: center;
  }
  
  nav{
    text-align: center;
  }

  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  nav ul li{
    display: inline-block;
    margin: 0 15px;
  }

  #blog{
    border-top: 2px solid; #ccc ;
    margin: 15px;
  }


  p{
      line-height: 1.4em;
  }
  
  section{
    display: flex;
  }

  article{
    padding: 20px;
    margin: 20px;
  }

  table{
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
  }

  th,td{
    border: 1px solid black;
    padding: 6px;
  }

  thead{
    background-color: #20486d;
    color:#e3e3e3
  }